/* components/MentorsSection.module.css */

.mentorsGrid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
}

@media (max-width: 768px) {
    .mentorsGrid {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }
}

.mentorCard {
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 1.5rem;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.mentorCard:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.mentorsSection {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Full viewport height */
  }
  
  .mentorsContent {
    max-width: 800px; /* Adjust based on your content */
    text-align: center;
  }
  
