/* AdminDashboard.module.css */

.adminDashboard {
    padding: 20px;
    background-color: #f5f5f5;
    border-radius: 20px;
    /* Increased border radius for a curvier look */
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    /* Increased box shadow for depth */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* Align content vertically with space between */
    height: 100vh;
    /* Ensure the dashboard covers the entire viewport height */
}

.greeting {
    font-family: Marienda;
    text-align: center;
    font-size: 44px;
    color: burlywood;
    font-weight: bold;
    margin-bottom: 20px;
}

.navbarContainer {
    background-color: #333;
    border-radius: 30px;
    /* Increased border radius for a curvier look */
    padding: 100px;
    /* Increased padding for more spacing */
    margin-bottom: 10px;
    height: 2000px;
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
}

.navbarItemContainer {
    margin-right: 20px;
    /* Increased margin for more spacing between items */
}

.navbarItemContainer:hover {
    background-color: #444;
    /* Change background color on hover */
}

.navbar ul li {
    color: #fff;
    cursor: pointer;
    padding: 15px 20px;
    /* Increased padding for more clickable area */
    border-radius: 20px;
    /* Increased border radius for a curvier look */
}

.navbar ul li:hover {
    background-color: #444;
    /* Change background color on hover */
}

.mainContent {
    padding: 20px;
    /* Increased padding for more spacing */
    background-color: #fff;
    border-radius: 20px;
    /* Increased border radius for a curvier look */
    flex: 1;
    /* Fill the remaining vertical space */
}

.navbarLogOutButton {
    background-color: #f44336;
    color: #fff;
    padding: 15px 30px;
    /* Increased padding for a bigger button */
    font-size: 18px;
    /* Increased font size for better visibility */
    border: none;
    border-radius: 20px;
    /* Increased border radius for a curvier look */
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.navbarLogOutButton:hover {
    background-color: #d32f2f;
}