/* AttendancePage.module.css */

.attendancePage {
    padding: 20px;
    font-family: Arial, sans-serif;
}

.searchBar {
    margin-bottom: 20px;
}

.searchInput {
    padding: 12px;
    width: 300px;
    border: 2px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    outline: none;
    transition: border-color 0.3s ease;
}

.searchInput:focus {
    border-color: #007bff;
}

.studentList {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 20px;
}

.studentCard {
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.studentCard:hover {
    transform: translateY(-5px);
}

.studentCard h3 {
    font-size: 20px;
    color: #333;
    margin-bottom: 10px;
}

.studentCard p {
    margin: 5px 0;
    color: #666;
}

.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.pageNumber {
    padding: 12px 24px;
    margin: 0 5px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.pageNumber:hover {
    background-color: #0056b3;
}

.activePage {
    background-color: #0056b3;
}

.button {
    padding: 12px 24px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.present {
    background-color: #28a745;
    /* Green */
    color: #fff;
}

.absent {
    background-color: #dc3545;
    /* Red */
    color: #fff;
}

.button:hover {
    opacity: 0.9;
}

.submitButtonContainer {
    display: flex;
    justify-content: center;
    /* Horizontally center the content */
    margin-top: 20px;
}

.submitButton {
    padding: 12px 24px;
    border: none;
    border-radius: 20px;
    background-color: #007bff;
    /* Blue color */
    color: #fff;
    /* White text color */
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.submitButton:hover {
    background-color: #0056b3;
    /* Darker blue color on hover */
}