/* Attendance.module.css */
.attendanceContainer {
    max-width: 800px;
    margin: auto;
    padding: 20px;
  }
  
  .attendanceList {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 10px;
  }
  
  .student {
    border: 1px solid #ccc;
    padding: 10px;
  }
  
  .button {
    padding: 5px 10px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    margin-right: 5px;
  }
  
  .present {
    background-color: #4caf50; /* Green */
    color: white;
  }
  
  .absent {
    background-color: #f44336; /* Red */
    color: white;
  }
  .submitContainer {
    display: flex;
    justify-content: center;
    margin-top: 20px; /* Add margin to separate from the attendance list */
  }
  
  .submitButton {
    padding: 10px 20px;
    background-color: #2196f3; /* Blue */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .submitButton:hover {
    background-color: #0d47a1; /* Darker blue on hover */
  }  
  .searchInput {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.pagination {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.paginationList {
    list-style: none;
    display: flex;
    padding: 0;
}

.paginationList li {
    margin-right: 5px;
}

.paginationList li button {
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
}

.paginationList li button:hover {
    background-color: #0056b3;
}

.active {
    background-color: #0056b3;
}