.centeredTitle {
  padding: 10px;
  margin-left: 60px;
  font-family: 'Poppins', sans-serif;
    text-align: center;
    font-size: 2.5rem; /* Increase the font size */
    margin-bottom: 1rem; /* Decrease the margin bottom */
  }
  
  /* Homepage content */
  .homepageContent {
    padding: 2rem; /* Add padding to the homepage content */
    font-size: 1.5rem; /* Decrease the font size */
  }