/* styles/Footer.module.css */

/* Footer container */
.footerContainer {
    min-width: 600px;
    background-color: #f4f4f4;
    padding: 20px 0;
    text-align: center;
    width: 100%;
}

/* Navigation list */
.footerNav {
    list-style-type: none;
    padding: 0;
}

/* Navigation list items */
.footerNavItem {
    display: inline-block;
    margin: 0 10px;
}

/* Navigation links */
.footerNavLink {
    color: #333;
    text-decoration: none;
}
