/* StudentNavbar.module.css */
.navbarContainer {
    /* margin-top: -18px; */
    top: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 22px 500px;
    background-color: #54564c;
    border-bottom: 1px solid #ccc;
    transition: background-color 0.3s ease;
    position: fixed;
}

.navbarContainer:hover {
    background-color: #e0e0e0;
}

.navbarButton {
    padding: 5px 10px;
    margin: 0 10px;
    font-size: 14px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.navbarButton:hover {
    background-color: #45a049;
}


