/* AboutSection.module.css */

.aboutContainer {
    color: burlywood;
    background-color: #e4d2d24b;
    /* Match background color with navbar */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    /* Add shadow effect */
    margin-top: 60px;
    width: 100%;
    /* Spacing from the navbar */
}

.aboutContent {
    transition: opacity 0.5s ease;
    /* Add transition effect */
}

.aboutContent p {
    color: #ffffff;
    /* Text color */
    font-size: 16px;
    line-height: 1.5;
}

.aboutContent p+p {
    margin-top: 20px;
    /* Add spacing between paragraphs */
}