.container {
    margin: 20px;
    width: 100%;
}

.container h2 {
    text-align: center;
    font-size: 3rem;
    margin-bottom: 30px;
    font-family: poppins;
    color: #ffffff;
}

.subjectContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.subjectSection {
    margin-bottom: 3rem;
}

.subjectSection h3 {
    text-align: center;
    font-family: 'Marienda', cursive;
    font-size: 2.5rem;
    margin-bottom: 2rem;
    color: #4caf50;
}

.chapterContainer {
    margin-bottom: 2rem;
}

.chapterContainer h4 {
    text-align: center;
    font-family: 'Arial', sans-serif;
    font-size: 2rem;
    margin-bottom: 1rem;
    color: #a1a1a1;
}

.testsList {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.testItem {
    cursor: pointer;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 10px;
    transition: background-color 0.3s ease;
    width: 250px;
    text-align: center;
    font-family: 'Arial', sans-serif;
    font-size: 1.4rem;
    color: #333;
    background-color: #f9f9f9;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.testItem:hover {
    background-color: #e0e0e0;
    color: #000000;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    /* Semi-transparent background */
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.testContainer {
    background-color: #ffffff;
    max-width: 90%;
    max-height: 90%;
    overflow: auto;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.closeBtn {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #ffeb3b;
    border: none;
    cursor: pointer;
    font-size: 1.6rem;
    font-family: 'Arial', sans-serif;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.testContainer .react-pdf__Document {
    width: 100%;
    height: 100%;
}
